<div id="main_loader">
  <div id="loader">
    <div class="outer_spin">
      <div class="inner_spin"></div>
    </div>
  </div>
</div>
<!-- Navigation menu starts -->

<app-navbar></app-navbar>

<!--=== Navigation menu ends ===-->

<!-- Home section starts -->

<app-header></app-header>

<!-- Home section ends -->

<!-- Core_features section starts -->

<app-main-directions></app-main-directions>

<!-- Core_features section ends -->

<!-- Extra_features section starts -->

<app-features></app-features>

<!-- Extra_features section ends -->

<!-- Available_app section starts -->

<app-available></app-available>

<!-- Available_app section ends -->


<!-- Screen-shot section starts -->

<app-article></app-article>

<!-- Screen-shot section ends -->

<!-- Client section starts -->

<app-counter></app-counter>

<!-- Client section ends -->

<!-- People section starts -->

<app-client></app-client>

<!-- People section ends -->

<!-- Contact section starts -->

  <app-mail></app-mail>

<!-- Contact section ends -->

<!-- Footer section starts -->

<app-footer></app-footer>

<!-- Footer section ends -->

<!-- Move to up starts-->
<a class="btn btn-lg scrollup">
  <i class="fa fa-arrow-up"></i>
</a>
<!-- Move to up ends-->