nav.top-nav-collapse {
  padding-bottom: 0;
  padding-top: 10px;
  background: #00cdac;
}
.default {
  top: 0;
  background: #00cdac;
}
.navbar {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  position: fixed;
  border-radius: 0;
  padding-bottom: 0;
}
.navbar {
  border-radius: 4px;
}
.navbar {
  min-height: 50px;
  border: 1px solid transparent;
}
nav {
  left: 0;
  top: -120px;
  right: 0;
  padding: 10px 0;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  height: auto;
  z-index: 99;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
user agent stylesheet article,
aside,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}
body {
  font-family: Lato, sans-serif;
  font-size: 20px;
  overflow-x: hidden;
  background-color: #fff;
  position: relative;
}
body {
  line-height: 1.42857143;
  color: #333;
}
html {
  font-size: 10px;
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
.owl-carousel,
.owl-carousel .owl-item,
.owl-theme .owl-controls,
.slick-slider,
html {
  -webkit-tap-highlight-color: transparent;
}
.btn-group-vertical > .btn-group:after,
.btn-group-vertical > .btn-group:before,
.btn-toolbar:after,
.btn-toolbar:before,
.clearfix:after,
.clearfix:before,
.container-fluid:after,
.container-fluid:before,
.container:after,
.container:before,
.dl-horizontal dd:after,
.dl-horizontal dd:before,
.form-horizontal .form-group:after,
.form-horizontal .form-group:before,
.modal-footer:after,
.modal-footer:before,
.modal-header:after,
.modal-header:before,
.nav:after,
.nav:before,
.navbar-collapse:after,
.navbar-collapse:before,
.navbar-header:after,
.navbar-header:before,
.navbar:after,
.navbar:before,
.pager:after,
.pager:before,
.panel-body:after,
.panel-body:before,
.row:after,
.row:before {
  display: table;
  content: " ";
}
*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.btn-group-vertical > .btn-group:after,
.btn-toolbar:after,
.clearfix:after,
.container-fluid:after,
.container:after,
.dl-horizontal dd:after,
.form-horizontal .form-group:after,
.modal-footer:after,
.modal-header:after,
.nav:after,
.navbar-collapse:after,
.navbar-header:after,
.navbar:after,
.pager:after,
.panel-body:after,
.row:after {
  clear: both;
}
.btn-group-vertical > .btn-group:after,
.btn-group-vertical > .btn-group:before,
.btn-toolbar:after,
.btn-toolbar:before,
.clearfix:after,
.clearfix:before,
.container-fluid:after,
.container-fluid:before,
.container:after,
.container:before,
.dl-horizontal dd:after,
.dl-horizontal dd:before,
.form-horizontal .form-group:after,
.form-horizontal .form-group:before,
.modal-footer:after,
.modal-footer:before,
.modal-header:after,
.modal-header:before,
.nav:after,
.nav:before,
.navbar-collapse:after,
.navbar-collapse:before,
.navbar-header:after,
.navbar-header:before,
.navbar:after,
.navbar:before,
.pager:after,
.pager:before,
.panel-body:after,
.panel-body:before,
.row:after,
.row:before {
  display: table;
  content: " ";
}
*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.container-fluid > .navbar-collapse,
.container-fluid > .navbar-header,
.container > .navbar-collapse,
.container > .navbar-header {
  margin-right: 0;
  margin-left: 0;
}
.container-fluid > .navbar-collapse,
.container-fluid > .navbar-header,
.container > .navbar-collapse,
.container > .navbar-header {
  margin-right: -15px;
  margin-left: -15px;
}
.navbar-collapse.collapse {
  display: block !important;
  height: auto !important;
  padding-bottom: 0;
  overflow: visible !important;
}
.navbar-collapse {
  width: auto;
  border-top: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.navbar-collapse {
  padding-right: 15px;
  padding-left: 15px;
  overflow-x: visible;
  -webkit-overflow-scrolling: touch;
  border-top: 1px solid transparent;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
}
.collapse {
  display: none;
}
*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
user agent stylesheet div {
  display: block;
}
body {
  font-family: Lato, sans-serif;
  font-size: 20px;
  overflow-x: hidden;
  background-color: #fff;
  position: relative;
}
body {
  line-height: 1.42857143;
  color: #333;
}
html {
  font-size: 10px;
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
.owl-carousel,
.owl-carousel .owl-item,
.owl-theme .owl-controls,
.slick-slider,
html {
  -webkit-tap-highlight-color: transparent;
}
.btn-group-vertical > .btn-group:after,
.btn-group-vertical > .btn-group:before,
.btn-toolbar:after,
.btn-toolbar:before,
.clearfix:after,
.clearfix:before,
.container-fluid:after,
.container-fluid:before,
.container:after,
.container:before,
.dl-horizontal dd:after,
.dl-horizontal dd:before,
.form-horizontal .form-group:after,
.form-horizontal .form-group:before,
.modal-footer:after,
.modal-footer:before,
.modal-header:after,
.modal-header:before,
.nav:after,
.nav:before,
.navbar-collapse:after,
.navbar-collapse:before,
.navbar-header:after,
.navbar-header:before,
.navbar:after,
.navbar:before,
.pager:after,
.pager:before,
.panel-body:after,
.panel-body:before,
.row:after,
.row:before {
  display: table;
  content: " ";
}
*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.btn-group-vertical > .btn-group:after,
.btn-toolbar:after,
.clearfix:after,
.container-fluid:after,
.container:after,
.dl-horizontal dd:after,
.form-horizontal .form-group:after,
.modal-footer:after,
.modal-header:after,
.nav:after,
.navbar-collapse:after,
.navbar-header:after,
.navbar:after,
.pager:after,
.panel-body:after,
.row:after {
  clear: both;
}
.btn-group-vertical > .btn-group:after,
.btn-group-vertical > .btn-group:before,
.btn-toolbar:after,
.btn-toolbar:before,
.clearfix:after,
.clearfix:before,
.container-fluid:after,
.container-fluid:before,
.container:after,
.container:before,
.dl-horizontal dd:after,
.dl-horizontal dd:before,
.form-horizontal .form-group:after,
.form-horizontal .form-group:before,
.modal-footer:after,
.modal-footer:before,
.modal-header:after,
.modal-header:before,
.nav:after,
.nav:before,
.navbar-collapse:after,
.navbar-collapse:before,
.navbar-header:after,
.navbar-header:before,
.navbar:after,
.navbar:before,
.pager:after,
.pager:before,
.panel-body:after,
.panel-body:before,
.row:after,
.row:before {
  display: table;
  content: " ";
}
*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.portfolio-info {
  background-color: #fff;
  text-align: center;
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}
*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
user agent stylesheet div {
  display: block;
}
body {
  font-family: Lato, sans-serif;
  font-size: 20px;
  overflow-x: hidden;
  background-color: #fff;
  position: relative;
}
body {
  line-height: 1.42857143;
  color: #333;
}
html {
  font-size: 10px;
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
.owl-carousel,
.owl-carousel .owl-item,
.owl-theme .owl-controls,
.slick-slider,
html {
  -webkit-tap-highlight-color: transparent;
}
.btn-group-vertical > .btn-group:after,
.btn-group-vertical > .btn-group:before,
.btn-toolbar:after,
.btn-toolbar:before,
.clearfix:after,
.clearfix:before,
.container-fluid:after,
.container-fluid:before,
.container:after,
.container:before,
.dl-horizontal dd:after,
.dl-horizontal dd:before,
.form-horizontal .form-group:after,
.form-horizontal .form-group:before,
.modal-footer:after,
.modal-footer:before,
.modal-header:after,
.modal-header:before,
.nav:after,
.nav:before,
.navbar-collapse:after,
.navbar-collapse:before,
.navbar-header:after,
.navbar-header:before,
.navbar:after,
.navbar:before,
.pager:after,
.pager:before,
.panel-body:after,
.panel-body:before,
.row:after,
.row:before {
  display: table;
  content: " ";
}
*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.btn-group-vertical > .btn-group:after,
.btn-toolbar:after,
.clearfix:after,
.container-fluid:after,
.container:after,
.dl-horizontal dd:after,
.form-horizontal .form-group:after,
.modal-footer:after,
.modal-header:after,
.nav:after,
.navbar-collapse:after,
.navbar-header:after,
.navbar:after,
.pager:after,
.panel-body:after,
.row:after {
  clear: both;
}
.btn-group-vertical > .btn-group:after,
.btn-group-vertical > .btn-group:before,
.btn-toolbar:after,
.btn-toolbar:before,
.clearfix:after,
.clearfix:before,
.container-fluid:after,
.container-fluid:before,
.container:after,
.container:before,
.dl-horizontal dd:after,
.dl-horizontal dd:before,
.form-horizontal .form-group:after,
.form-horizontal .form-group:before,
.modal-footer:after,
.modal-footer:before,
.modal-header:after,
.modal-header:before,
.nav:after,
.nav:before,
.navbar-collapse:after,
.navbar-collapse:before,
.navbar-header:after,
.navbar-header:before,
.navbar:after,
.navbar:before,
.pager:after,
.pager:before,
.panel-body:after,
.panel-body:before,
.row:after,
.row:before {
  display: table;
  content: " ";
}
*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.portfolio-info .title h1 {
  text-transform: capitalize;
  font-weight: 700;
  color: #404040;
  padding-bottom: 0;
  margin-bottom: 5px;
}
.title h1,
.title h2 {
  font-weight: 300;
  color: #666;
  font-size: 30px;
  position: relative;
  padding-bottom: 30px;
  margin-top: 0;
  margin-bottom: 30px;
  letter-spacing: 2px;
}
.initialism,
.theme_btn,
.title h1,
.title h2 {
  text-transform: uppercase;
}
h1 {
  font-size: 60px;
  font-weight: 300;
  color: #fff;
}
.h1,
h1 {
  font-size: 36px;
}
.h1,
.h2,
.h3,
h1,
h2,
h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
h1 {
  margin: 0.67em 0;
}
*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
user
  agent
  stylesheet
  :-webkit-any(article, aside, nav, section)
  :-webkit-any(article, aside, nav, section)
  h1 {
  font-size: 1.17em;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
}
user agent stylesheet :-webkit-any(article, aside, nav, section) h1 {
  font-size: 1.5em;
  -webkit-margin-before: 0.83em;
  -webkit-margin-after: 0.83em;
}
user agent stylesheet h1 {
  display: block;
  font-size: 2em;
  -webkit-margin-before: 0.67em;
  -webkit-margin-after: 0.67em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
}
.portfolio-info {
  background-color: #fff;
  text-align: center;
}
body {
  font-family: Lato, sans-serif;
  font-size: 20px;
  overflow-x: hidden;
  background-color: #fff;
  position: relative;
}
body {
  line-height: 1.42857143;
  color: #333;
}
html {
  font-size: 10px;
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
.owl-carousel,
.owl-carousel .owl-item,
.owl-theme .owl-controls,
.slick-slider,
html {
  -webkit-tap-highlight-color: transparent;
}
*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.portfolio-info .title h1::after {
  display: none;
}
.title h1:after,
.title h2:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 90px;
  height: 1px;
  background-color: #666;
  margin: auto;
}
*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#contactus {
  padding-bottom: 40px;
}
#amazing_features,
#available_app,
#clients,
#contactus,
#core_features,
#counter,
#download,
#extra_features,
#faq,
#main_footer,
#our_clients,
#pricing,
#screen_shots,
#subscribe,
#team,
#working {
  padding: 80px 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
user agent stylesheet article,
aside,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}
body {
  font-family: Lato, sans-serif;
  font-size: 20px;
  overflow-x: hidden;
  background-color: #fff;
  position: relative;
}
body {
  line-height: 1.42857143;
  color: #333;
}
html {
  font-size: 10px;
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
.owl-carousel,
.owl-carousel .owl-item,
.owl-theme .owl-controls,
.slick-slider,
html {
  -webkit-tap-highlight-color: transparent;
}
*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.scroll_menu #myNavbar li a {
  font-size: 16px;
  display: block;
  padding: 22px 16px;
  color: #fff;
  font-weight: 400;
  transition: all ease-in 0.3s;
  border-bottom: 4px solid transparent;
}
.navbar-nav > li > a {
  color: #fff;
  font-weight: 300;
  padding: 23px 16px;
  font-size: 16px;
  position: relative;
  -webkit-transition: all ease-in 0.3s;
  -moz-transition: all ease-in 0.3s;
  transition: all ease-in 0.3s;
}
.navbar-nav>li>a {
  padding-top: 15px;
  padding-bottom: 15px;
}
.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
}
.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}
a {
  font-size: 18px;
  color: #00cdac;
}
a,
a:hover,
a:focus {
  text-decoration: none;
  margin-top: auto;
}
a {
  color: #337ab7;
  text-decoration: none;
}
a {
  background-color: transparent;
}
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
user agent stylesheet a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}
user agent stylesheet li {
  display: list-item;
  text-align: -webkit-match-parent;
}
.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
ul {
  padding-left: 0;
  list-style: none;
}
user agent stylesheet ul,
menu,
dir {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
}
body {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  overflow-x: hidden;
  background-color: #fff;
  position: relative;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}
html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
.navbar-nav > li > a::before {
  position: absolute;
  bottom: -4px;
  left: 0;
  right: 0;
  text-align: center;
  overflow: hidden;
  padding: 10px 0 15px;
  max-width: 0;
  width: 0;
  border-bottom: 4px solid #fff;
  color: #fff;
  content: "";
  -webkit-transition: all ease-in 0.3s;
  -moz-transition: all ease-in 0.3s;
  transition: all ease-in 0.3s;
}
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
:after,
:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
:after,
:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
