.topnav {
  background-color: rgb(238, 234, 234);
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #362c2c;
  text-align: center;
  padding: 24px 26px;
  text-decoration: none;
  font-size: 18px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: rgb(83, 83, 83);
  color: white;
}

.container {
  width: 50%;
  float: left;
}
