<section id="our_clients">
  <div class="container">
    <div class="row">
      <div class="title">
        <h2 class="text-center">WHAT
          <span class="theme_bolder">OUR CLIENTS SAYS!</span>
        </h2>
        <div class="col-xs-12 text-center">
          <p>
            Working with Simlead has been a breath of fresh air. We now have hired 4 time developers and each has been extremely skilled,
            reliable and dedicated to their given project. Over the years, we’ve had some horror stories, hiring developers
            that never seen to pan out. Simlead has continued to be our best resource for finding excellent talent to join
            our team!
          </p>
        </div>
      </div>
    </div>
    <div class="review">
      <div class="item">
        <div class="client_comment mb40 text-center">
          <p>
            Working with Simlead has been a breath of fresh air. We now have hired 4 time developers and each has been extremely skilled,
            reliable and dedicated to their given project. Over the years, we’ve had some horror stories, hiring developers
            that never seen to pan out. Simlead has continued to be our best resource for finding excellent talent to join
            our team!
          </p>
        </div>
        <ul class="client_data">
          <li>
            <div class="client_img">
              <img class="img-responsive" src="../../../assets/images/client1.png" alt="client">
            </div>
            <div class="client_detail">
              <h5 class="system_font_color">Elizabeth Doe</h5>
              <span>Client</span>
            </div>
          </li>
        </ul>
      </div>
      <div class="item">
        <div class="client_comment client_comment2 mb40 text-center">
          <p>
            Simlead team were solely responsible for the maintenance and extension of our existing PHP eCommerce application built on
            a custom framework. Team worked on both the front end and back end of the website, proving themselves an expert
            in HTML, CSS, JavaScript, and PHP.
          </p>
        </div>
        <ul class="client_data2">
          <li>
            <div class="client_img">
              <img class="img-responsive" src="../../../assets/images/client2.png" alt="client">
            </div>
            <div class="client_detail">
              <h5 class="system_font_color">Elizabeth Doe</h5>
              <span>Client</span>
            </div>
          </li>
        </ul>
      </div>
      <div class="item">
        <div class="client_comment mb40 text-center">
          <p>
            This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis
            bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.
          </p>
        </div>
        <ul class="client_data">
          <li>
            <div class="client_img">
              <img class="img-responsive" src="../../../assets/images/client1.png" alt="client">
            </div>
            <div class="client_detail">
              <h5 class="system_font_color">Elizabeth Doe</h5>
              <span>Client</span>
            </div>
          </li>
        </ul>
      </div>
      <div class="item">
        <div class="client_comment client_comment2 mb40 text-center">
          <p>
            Our list of requirements were many and Simlead team provided the best overall solution for our CRM system.
          </p>
        </div>
        <ul class="client_data2">
          <li>
            <div class="client_img">
              <img class="img-responsive" src="../../../assets/images/client2.png" alt="client">
            </div>
            <div class="client_detail">
              <h5 class="system_font_color">Elizabeth Doe</h5>
              <span>Client</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>